.layoutBody{
    background-color: antiquewhite;
}

#heading{
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0px;
    margin-left: auto;
}

.hyperlinks{
    margin: 0px 10px 0px 10px;
}

.user{
    margin: 0px 0px 0px 5px;
}

.links > p{
    margin: 0px;
}