.main{
    border: solid black 1px;
}

.header{
    text-align: center;
}

.btn{
    margin: 10px 0px;
    margin-left: auto;
}

.btnBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.signUpText{
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.warning{
    margin: 0px;
}